html {
  font-family: 'Roboto', sans-serif;
}

body {
  font-size: 13px;
  line-height: 20px;
  margin: 0px;
  background: #fafafa;
}

* {
  box-sizing: border-box;
}

.main {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  justify-content: space-between;
  width: 100%;
  max-width: 1400px;
  margin: 50px auto;
}

.column {
  display: flex;
  flex-direction: column;
}

.column.center {
  min-width: 300px;
  text-align: center;
}

.selected-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: #fff;
  padding: 15px;
  border: 1px solid #ebebeb;
  box-shadow: 1px 1px 1px #cdcdcd;
}

.selected-item > div {
  text-align: center;
  margin: auto;
  font-size: 18px;
}

.selected-item > div + div {
  border-top: 1px solid #cdcdcd;
  margin-top: 15px;
}

.column.left,
.column.right {
  padding: 15px;
  border: 1px solid #ebebeb;
  box-shadow: 1px 1px 1px #cdcdcd;
  width: 30%;
  background: #fff;
  max-height: calc(100vh - 100px);
}

.todo-list {
  width: 100%;
  height: calc(100% - 50px);
  overflow-y: auto;
  overflow-x: hidden;
}

.item {
  user-select: none;
}
.item.selected {
  outline: 2px solid orange!important;
}

.item .item-icons {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto 0;
  height: 25px;
}

.item-icons svg {
  display: inline-block;
}

.column-subheader {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  justify-content: space-between;
}

.column-subheader-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.column-subheader-col + .column-subheader-col {
  margin-left: 20px;
}